::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}

.top {
    width: 100%;
    height: 15vh;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
}

.container-resultados {
    background: linear-gradient(45deg, #FF5370, #ff869a);
    width: 24%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.container-resultados span {
    font-size: 15pt;
}

.container-resultados i {
    font-size: 30pt;
}

.container1-resultados {
    background: linear-gradient(45deg, #4099ff, #73baff);
    width: 24%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.container1-resultados span {
    font-size: 15pt;
}

.container1-resultados i {
    font-size: 30pt;
}

.container2-resultados {
    background: linear-gradient(45deg, #2ed8be, #59e0c5);
    width: 24%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.container2-resultados span {
    font-size: 15pt;
}

.container2-resultados i {
    font-size: 30pt;
}

.container3-resultados {
    background: linear-gradient(45deg, #a8d82e, #ace059);
    width: 24%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.container3-resultados span {
    font-size: 15pt;
}

.container3-resultados i {
    font-size: 30pt;
}

.painel-adm {
    padding: 1%;
    margin-top: 40px;
    margin-left: 1%;
    border-radius: 10px;
    width: 98%;
    height: 50vh;
    background-color: #fff;
    float: left;
}

.painel-adm-home {
    padding: 1%;
    margin-top: 40px;
    margin-left: 1%;
    border-radius: 10px;
    width: 98%;
    height: 50vh;
    background-color: #fff;
    float: left;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 15pt;
}

table {
    width: 100%;
}

table tr th {
    border-bottom: 3px solid #bea1a1;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

table tr td {
    text-align: center;
    font-size: 10pt;
}

.icone-tabela {
    width: 7%;
}

#btn_cadastrar_aluno{
    width: 100%;
    padding: 1%;
}

.btn_acao{
    width: 20%;
    background-color: #000;
}

.tituloEbusca{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #cecece;
}
.inputBuscar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.inputBuscar input{
    width: 250px;
    height: 40px;
    background-color: #F8F9FA;
    border: 1px solid #cecece;
    outline: none;
    padding-left: 10px;
}
.inputBuscar button{
    height: 40px;
}
.limitadorPaginas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #cecece;
}
#staticBackdrop{
    width: 100%;
}
.fade{
    width: 100%;
}
.modal-content{
    left: -100px;
    width: 800px;
}
.painel-adm-home td{
    background-color: brown;
    height: 40px;
    width: 40px;
    gap: 10px;
}
.painel-adm-home h3{
    border-bottom: 1px solid #cecece;
    padding: 10px;
}
.descServices1{
    color: #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}
.descServices1 i{
    font-size: 14pt;
}
.descServices1 button{
    height: 50px;
}
.btnsMobile{
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 42px;
    gap: 15px;
}

.descServices1-produto{
    width: 100%;
}
.btnAddProduto{
    margin-left: 86%;
    margin-top: -110px;
}
.btnAddServico{
    margin-left: 86%;
    margin-top: -110px;
}

.relatoFinanceiro{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: end;
}
.relatoFinanceiro button{
    height: 37px;
}

.reusltadoFinanceiro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin-bottom: -30px;
}
.cartao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 120px;
    gap: 25px;
}
.cartao img{
    width: 50px;
}
.dinheiro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 120px;
    gap: 25px;
}
.dinheiro img{
    width: 50px;
}
.pix{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 120px;
    gap: 25px;
}
.pix img{
    width: 50px;
}

.relatoGeral{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 25px;
    width: 100%;
}
.relatoGeral form{
    display: flex;
    flex-direction: row;
  
    gap: 25px;
}
.relatoGeral button{
    height: 37px;
}
.datasSeleRel{
    display: flex;
    flex-direction: row;
    gap: 25px;
}